07PRU/web/web.iml
07PRU/web/.idea/.gitignore
07PRU/web/.idea/misc.xml
07PRU/web/.idea/modules.xml
07PRU/web/.idea/vcs.xml
07PRU/web/out/production/web/ED04_debuging.md
07PRU/web/out/production/web/ED07E01_ejemplosDebuging.md
07PRU/web/out/production/web/ED07E02_ejemploPicos.md
07PRU/web/out/production/web/Main.class
07PRU/web/out/production/web/Mayorv1.class
07PRU/web/out/production/web/Mayorv2.class
07PRU/web/out/production/web/PicoDetector.class
07PRU/web/out/production/web/web.iml
07PRU/web/out/production/web/.idea/.gitignore
07PRU/web/out/production/web/.idea/misc.xml
07PRU/web/out/production/web/.idea/modules.xml
07PRU/web/out/production/web/.idea/vcs.xml
07PRU/presentación/JUnitDemo_MavenEstructura/.idea/compiler.xml
07PRU/presentación/JUnitDemo_MavenEstructura/.idea/jarRepositories.xml
07PRU/presentación/JUnitDemo_MavenEstructura/.idea/misc.xml
07PRU/presentación/JUnitDemo_MavenEstructura/.idea/vcs.xml
07PRU/presentación/JUnitDemo_MavenEstructura/target/classes/Utilidades.class
07PRU/presentación/JUnitDemo_MavenEstructura/target/test-classes/UtilidadesTest.class
